<div class="bg-secondary min-vh-100">
  <nav class="navbar bg-dark d-flex justify-content-center mb-5">
    <h1 class="text-white">Editor Front End</h1>
  </nav>

  <div class="d-flex justify-content-center align-items-center">
    <app-process-list *ngIf="viewProcessList"></app-process-list>
    <app-process-create *ngIf="viewCreate"></app-process-create>
    <app-process-edit *ngIf="viewEdit"></app-process-edit>
    <app-finished-process-list *ngIf="viewFinishedProcessList"></app-finished-process-list>
  </div>
</div>
